@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-pink: #eb008b;
  --color-primary-pink-40: #f5bbde;
  --color-primary-pink-60: #f460b9;
  --color-primary-pink-80: #d2018c;
  --color-secondary-purple: #9469fe;
  --color-secondary-purple-40: #dfe4fd;
  --color-secondary-purple-60: #6b27e7;
  --color-secondary-purple-80: #5732a1;
  --color-background: #f6f7fc;
  --color-background-40: #ffffff;
  --color-background-80: #f4f4f4;
  --color-gray700: #1e1e1e;
  --color-gray600: #3a3a3a;
  --color-gray500: #717379;
  --color-gray400: #9a9da4;
  --color-gray300: #a5a8af;
  --color-gray200: #d5d7df;
  --color-gray100: #fcfcfc;
  --color-danger: #e94e4e;
  --color-gradation: linear-gradient(
    90deg,
    var(--color-secondary-purple-80) 0%,
    #5b038c 25%,
    #a0018b 50%,
    #ce018b 75%,
    #eb008b 100%
  );
  --color-gradation-20: linear-gradient(
    90deg,
    rgba(87, 50, 161, 0.1) 0%,
    rgba(91, 3, 140, 0.1) 25%,
    rgba(160, 1, 139, 0.1) 50%,
    rgba(206, 1, 139, 0.1) 75%,
    rgba(235, 0, 139, 0.1) 100%
  );

  --color-gradation-70: linear-gradient(
    90deg,
    rgba(87, 50, 161, 0.7) 0%,
    rgba(91, 3, 140, 0.7) 25%,
    rgba(160, 1, 139, 0.7) 50%,
    rgba(206, 1, 139, 0.7) 75%,
    rgba(235, 0, 139, 0.7) 100%
  );

  --shadow-basic: 0 0 20px rgba(0, 0, 0, 0.1);
}
@layer base {
  :root {
    font-family: 'Poppins', sans-serif;
    @apply tracking-tighter;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    background-color: var(--color-background);
    color: var(--color-gray-700);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: keep-all;
  }
  html,
  body {
    background-color: var(--color-gray300);
    @apply flex items-start justify-center relative w-full;
  }
  #root {
    @apply overflow-x-hidden overflow-y-auto relative max-w-[600px] w-full min-h-screen;
    @apply pr-[20px] pb-[0px] pl-[20px];
    box-shadow: var(--shadow-basic);
    background-color: var(--color-background);
  }
  main {
    @apply flex-1;
  }
}

.text-gradation {
  background: var(--color-gradation);
  -webkit-background-clip: text;
  color: transparent;
}
.bg-gradation {
  background-image: var(--color-gradation);
}
/* 스크롤바 숨기기입니다. 갖다쓰세영~ */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* 테일윈드 사용한 유틸리티 클래스(재사용 가능한 class) 여기 넣으면 됩니다! */
@layer utilities {
  .icon-button {
    @apply cursor-pointer stroke-gray-500 hover:text-secondary-purple-60 transition-colors;
  }
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}
